version: '3.9'
services:
  app:
    image: 692859909268.dkr.ecr.ap-northeast-2.amazonaws.com/market-app:latest
    container_name: market-app
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: always



